li{
    list-style-type: none;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
}

ul{
    display: flex;
}

li a{
    text-decoration: none;
}

div{
    background-color: #B0A695;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    color: #F3EEEA;
}



div *{
    font-size: 20px;
}

form>*{
    margin-bottom: 20px;
}

input:not(#no){
    width: 70%;
    padding: 5px;
}

th, td {
    border: 1px solid;
    padding: 5px;
}

table{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    font-size: 20px;
}